<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flavor Impersonator</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico&display=swap">
    <style>




h1 {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    color: #5F5E4A;
    margin: 0;
}
.navbarcol {
    background-color: ;
}

    </style>
</head>
<body>


    <div class="container-fluid  p-4">
        <div class="row align-items-center">
            <div class="col-md-9">
                <h1 id="title" class="display-4">Flavor Impersonator</h1>
            </div>
            <div class="col-md-3 text-md-right">
                {{#if logged_in}}
                <a class="btn btn-outline mr-2" href="/profile">Profile</a>
                <button class="btn btn-outline" id="logout">Logout</button>
                {{else}}
                <a class="btn mr-2 border border-dark" href="/login">Login</a>
                <a class="btn border border-dark" href="/signup">Sign Up</a>
                {{/if}}
            </div>
        </div>


<nav class="navbar navbar-expand-md navbar-light bg-light mt-4">
        <div class="container">
            <div class="navbar-collapse navbarcol">
                <ul class="navbar-nav flex-column flex-md-row">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipes">Browse Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/submit-recipes">Submit Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">User Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>


    <main class="container container-fluid">


    {{{ body }}}
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>