<div class="row">
    <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="container">
    <div class="meal-wrapper">
        <div class="meal-search">
            <h2 class="title">Saved recipes</h2>
        </div>

        {{#if recipes.length}}
        <div class="meal-result">
            <div id = "meal">
                {{#each recipes as |recipe|}}
                <div class="meal-item">
                    <div class="meal-img">
                        <img src="{{recipe.link_to_image}}" alt="food"> 
                    </div>
                    <div class="meal-name">
                        <h3>{{recipeName}}</h3>
                        <a href="/recipe/{{recipe.id}}" class = "recipe-btn">Get recipe</a> 
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
        {{/if}}
    </div>
</div>
