<style>
    /*Submit Recipe page */
.newRecipeForm{
    text-align: center; 
    margin-top: 40px;
}

h2{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: #5F5E4A;
    margin: 0;
}

.submitRecipeInput{
    width: 40%;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.submitRecipeText{
    width: 40%;
    height: 300px;
    margin: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#submitRecipes{
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}
</style>

<!--Submit Recipe Form -->
<form id="newRecipeForm" class="newRecipeForm submitRecipeTitle" >
    <h2>Submit Recipe</h2>
    
    <input class="submitRecipeInput" type="text" id="recipeTitle" placeholder="Enter recipe title here"required><br>

    <input class="submitRecipeInput" type="text" id="recipeDescription" placeholder="Enter a short description here"required><br>

    <input class="submitRecipeInput" type="text" id="recipeImageLink" placeholder="Enter link to picure of recipe here"><br>

    <textarea class="submitRecipeText" id="recipeIngredients" placeholder="Enter ingredients here" required></textarea><br>

    <textarea class="submitRecipeText" id="recipeDirections" placeholder="Enter directions here" required></textarea><br>

    <input class="submitRecipeInput" type="text" id="recipeLink" placeholder="Enter link to recipe here"><br>

    <button id="submitRecipes">Submit Recipe</button>
</form>

<script src="/js/addRecipe.js"></script>
